body {
    background-color: rgb(204, 207, 198);
}

.main {
    height: 130px;
    width : 100%;
   /*border : 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}

.sub ul {
    display : flex;
}
.sub ul li {
   /* padding: 50px;*/
    margin: 50px;
    /*text-decoration: none;*/
    font-size: x-large;
    font-weight: bold;
    list-style-type: none;
}
h1 {
    padding-left: 20px;
}

.sub li:hover {
    background-color: rgb(223, 197, 197); 
}
  